services:
  # -----------------------------
  # PostgreSQL para o auth-service
  # -----------------------------
auth-postgres:
  image: postgres:15
  container_name: auth-postgres
  restart: always
  environment:
    POSTGRES_USER: admin
    POSTGRES_PASSWORD: admin123
    POSTGRES_DB: auth_db
  ports:
    - "5432:5432"
  volumes:
    - auth_pgdata:/var/lib/postgresql/data
    - ./db-init/auth:/docker-entrypoint-initdb.d
  networks:
    - togglemaster


  # -----------------------------
  # auth-service (Go)
  # -----------------------------
  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    restart: always
    depends_on:
      - auth-postgres
    environment:
      PORT: "8001"
      DATABASE_URL: postgres://admin:admin123@auth-postgres:5432/auth_db
      MASTER_KEY: admin-secreto-123
    ports:
      - "8001:8001"
    networks:
      - togglemaster

  # -----------------------------
  # Redis para o evaluation-service
  # -----------------------------
  evaluation-redis:
    image: redis:7
    container_name: evaluation-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - evaluation_redis_data:/data
    networks:
      - togglemaster

  # -----------------------------
  # evaluation-service (Go)
  # -----------------------------
  evaluation-service:
    build:
      context: ./evaluation-service
    container_name: evaluation-service
    restart: always
    depends_on:
      - auth-service
      - evaluation-redis
    environment:
      PORT: "8005"
      AUTH_SERVICE_URL: http://auth-service:8001
      FLAG_SERVICE_URL: http://flag-service:8002
      TARGETING_SERVICE_URL: http://targeting-service:8003
      REDIS_URL: redis://evaluation-redis:6379
      SERVICE_API_KEY: tm_key_sua_chave_gerada_no_auth_service
      AWS_SQS_URL: disabled
      AWS_REGION: disabled
    ports:
      - "8005:8005"
    networks:
      - togglemaster

volumes:
  auth_pgdata:
  evaluation_redis_data:

networks:
  togglemaster:
